body {

	background:#f5f5f5;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 16px;

}

img {

	max-width:100%;

	width:auto;

	height:auto;

}

.container {

	width: 100%;

	max-width: 1294px;

	position:relative;

}

#login-form {

	display:none;

}

#other-amount-input-group {

	margin-top: 0.5em;

}



.tribute {

	display:none;

}

.tribute-print,

.tribute-ecard {

	display:none;

}

.billing-information {

	display:none;

}

#headerWrapper {

	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);

	border-bottom: medium none;

}

.navbar-default {

	background-color: #ffffff;

	border-color: #e7e7e7;

}

.page-header {

	margin-top: 0px;

	border:none;

}

.page-header h1 {

	color: #ed1c24;

	font-size:40px;

}

.panel {

	border:none;

	background:none;

	box-shadow:none;

}

.panel-heading:before {

	content:"\25B6";

	color:#ED1C24;

	padding-right:10px;

}

.panel-default > .panel-heading {

	font-size:24px;

	color:#656565;

	background:none;

	border: none;

}

.donate-image {

	float:right;

	width:35%;

	margin-left:20px;

}

.donation-form {

	overflow:hidden;

}

.leftRegion, .width960 {

	width:auto;

}

.rightRegion {

	display:none;

}

.col-sm-2 {

	min-width: 110px;

}

.donate-how .col-sm-3 {

	width: 28%;

}

div.icon:hover, div.icon.active {

	background: #ED1C24;

	cursor:pointer;

}

.icon-selection {

	color:#353535;

	font-size:14px;

	text-transform:uppercase;

}

.donate-how input, .donate-select input[type=radio], .tribute-select input {

	display:none;

}

div.icon {

	background: #000000;

	padding:20px;

	display:inline-block;

	border-radius:50px;

	min-height:100px;

}

div.card-select label {

  background: none repeat scroll 0 0 #484848;

  border-radius: 8px;

  color: #fff;

  display: inline-block;

  font-size: 20px;

  font-weight: normal;

  min-height: 50px;

  min-width: 90px;

  padding: 15px 20px;

}

.card-select label:hover, .card-select label.active {

	background: #ED1C24;

	cursor:pointer;

}

div.donate-select label {

	background: none repeat scroll 0 0 #484848;

	border-radius: 8px;

	color: #fff;

	display: inline-block;

	font-size: 25px;

	font-weight: normal;

	min-height: 60px;

	padding: 15px 20px;

	min-width: 100px;

}

.donate-select label:hover, .donate-select label.active {

	background: #ED1C24;

	cursor:pointer;

}

.level-other-input {

	display:none;

}

.level-other-input .input-group-addon {

	padding: 8px 12px;

	display:inline;

}

.level-other-input .form-control {

	display:inline-block;

	width:70%;

}



.recurring {

	display:none;

}



input.error,

select.error {

    border-color: #ff0000 !important;

    box-shadow: none !important;

    -webkit-box-shadow: none !important;

}



input[type='number'] {

    -moz-appearance:textfield;

}



label.error {

	font-weight:normal;

	color:#ff0000;

	white-space:nowrap;

}

/*

div.tribute-select label {

	background: none repeat scroll 0 0 #484848;

	border-radius: 8px;

	color: #fff;

	display: inline-block;

	font-size: 25px;

	font-weight: normal;

	min-height: 60px;

	padding: 15px 20px;

	min-width: 100px;

}

.tribute-select label:hover, .tribute-select label.active {

	background: #ED1C24;

	cursor:pointer;

}

*/

/*

.contact-information .form-group {

  background: none repeat scroll 0 0 #fff;

  border: 1px solid #ccc;

  border-radius: 10px;

  width: 90%;

  padding:3px 0;

}



.contact-information .form-control {

	border:none;

	background:none;

	box-shadow:none;

}

*/

.control-label {

	text-align: left !important;

	font-size:14px;

	text-transform:uppercase;

}

.form-group.required .control-label:after {

  content:" *";

  color:red;

}

.btn-primary {

	background-color: #ed1c24 !important;

	border: none;

	color: #fff;

	font-size:24px;

	font-weight:bold;

	border-radius:0px;

	padding:20px;

	margin:0 auto;

	display:block;

}

.btn-primary:hover {

	background-color: #ed1c24;	

	text-decoration:underline;

}

.btn-primary > div {

	font-size:0.8em;

	font-weight:normal;

}



footer {

	background: #242424;

	color: #b4b4b4;

	font-size: 12px;

	text-align:center;

	padding:25px;

	margin-top:30px;

}



ul.footer-menu {

	list-style:none;

	margin:30px 0 10px;

	padding:0;

}



ul.footer-menu li {

	display:inline-block;

	margin-right: 10px;

}



ul.footer-menu li a {

	color:#ed1c24;

}



.livechat {

  position: absolute;

  right: 15px;

  top: 15%;

}



form .credit-card-group input {

    background-color: #fff;

    border: 1px solid #e5e5e5;

    box-sizing: content-box;

    color: #333;

    display: block;

    font-size: 18px;

    height: 32px;

    padding: 0 5px;

    width: 275px;

  -moz-box-sizing: content-box;

  -webkit-box-sizing: content-box;

}

form .credit-card-group input::-webkit-input-placeholder {

  color: #ddd;

}

form .credit-card-group input:-moz-placeholder {

  color: #ddd;

  opacity: 1;

}

form .credit-card-group input::-moz-placeholder {

  color: #ddd;

  opacity: 1;

}

form .credit-card-group input:-ms-input-placeholder {

  color: #ddd;

}

form .credit-card-group input:focus {

  outline: 1px solid #3388dd;

}

form .credit-card-group input#card-number {

  background-image: url(../images/images.png), url(../images/images.png);

  background-position: 2px -105px, 240px -50px;

  background-size: 120px 361px, 120px 361px;

  background-repeat: no-repeat;

  padding-left: 54px;

  width: 225px;

}

form .credit-card-group input#card-number.visa {

  background-position: 2px -143px, 240px -50px;

}

form .credit-card-group input#card-number.amex {

  background-position: 2px -329px, 240px -50px;

}

form .credit-card-group input#card-number.visa_electron {

  background-position: 2px -180px, 240px -50px;

}

form .credit-card-group input#card-number.mastercard {

  background-position: 2px -217px, 240px -50px;

}

form .credit-card-group input#card-number.maestro {

  background-position: 2px -255px, 240px -50px;

}

form .credit-card-group input#card-number.discover {

  background-position: 2px -292px, 240px -50px;

}

form .credit-card-group input#card-number.valid.amex {

  background-position: 2px -329px, 240px -75px;

}

form .credit-card-group input#card-number.valid.visa {

  background-position: 2px -143px, 240px -75px;

}

form .credit-card-group input#card-number.valid.visa_electron {

  background-position: 2px -180px, 240px -75px;

}

form .credit-card-group input#card-number.valid.mastercard {

  background-position: 2px -217px, 240px -75px;

}

form .credit-card-group input#card-number.valid.maestro {

  background-position: 2px -255px, 240px -75px;

}

form .credit-card-group input#card-number.valid.discover {

  background-position: 2px -292px, 240px -75px;

}

.vertical {

  overflow: hidden;

}

.vertical li {

  float: left;

  width: 140px;

}

.vertical li .or {

  color: #aaa;

  float: left;

  font-size: 12px;

  margin-left: -8px;

  margin-top: 32px;

}

.vertical li:last-child {

  float: right;

  text-align: right;

}

.vertical li:last-child input {

  float: right;

}

.vertical input {

  width: 68px;

}



.thank-you {

	text-align:center;

}



.fa-flag,

.fa-usd {

  color: #fff;

  font-size: 60px;

  text-align: right;

  width: 100px;

}



.simple-social-icons ul.aligncenter {

    text-align: center;

}

.simple-social-icons ul {

    margin: 0;

    padding: 0;

}

.widget-area .simple-social-icons ul li a, 

.widget-area .simple-social-icons ul li a:hover {

    border: 1px solid #ccc !important;

}

.simple-social-icons ul.aligncenter li {

    display: inline-block;

    float: none;

}

.simple-social-icons ul li a, .simple-social-icons ul li a:hover {

  background-color: #ed1c24 !important;

  border-radius: 38px;

  color: #ffffff !important;

  font-size: 34px;

  padding: 20px;

}

.simple-social-icons ul li a {

    border: medium none !important;

    box-sizing: content-box;

    display: inline-block;

    font-style: normal !important;

    font-variant: normal !important;

    font-weight: normal !important;

    line-height: 1em;

    text-align: center;

    text-decoration: none !important;

    text-transform: none !important;

    width: 1em;

}

td.FormSectionHeader {

	font-weight:bold;

}

.thank-you table {

	width:500px;

	margin: 0 auto;

}

.thank-you table td {

	text-align:left;

}



 @media only screen and (max-width: 767px) {

	.navbar-toggle {

		display:none;

	}

	.container > .navbar-header {

		margin-left:0px;

	}

	.date-form-group select {

		margin-bottom: 0.75em;

	}

	.btn-primary {

		font-size:18px;

	}

	.donate-how .col-xs-10 {

		width: 83.3333%;

	}

	.donate-select .text-left {

		text-align:center;

	}

	span.livechat-text {

		display:none;

	}

}

 @media only screen and (max-width: 320px) {

	 

 }
