/* CSS for Love Tribute form - override style.css and addtional styles */

/* Header Section */
.navbar {
  margin-bottom:0;
}
/*.container {
  padding-left:0;
  padding-right:0;
}*/
.page-header {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
}
.topbanner {
  background: url(../images/love_tribute_banner.jpg) no-repeat top right #FFFFFF;
  background-size: 100% auto;
  height: 422px;
  overflow: hidden;
}

.topbanner h1 {
  float: left;
  color: #FFFFFF;
  font-size: 56px;
  margin-top: 75px;
  margin-bottom: 25px;
  margin-left: 4%;
  width: 400px;
  display: block;
}
.topbanner p {
  float: left;
  color: #FFFFFF;
  font-size: 20px;
  margin-left: 4%;
  width: 50%;
  display: block;
  clear: left;
}
.toptitle {
  background: #ed1c24;
  padding: 25px 4%
}
.toptitle h1 {
  color: #FFFFFF;
  margin: 0;
  font-size: 26px;
}
.toptitle h1 span {
  font-weight: bold;
}


/* eCard Preview Pane */
.ecard-preview {
  float:right; 
  width:35%; 
  /*background:#DEDEDE;*/
}
.previewbox {
  width: 300px;
  padding: 25px;
  margin: 0 auto 25px;
  background: #FFFFFF;

  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.45);
}

.ecards-designs {
  margin-bottom: 20px;
  float: left;
}
.ecards-designs img {
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
}
.ecards-designs img.even {
  margin-right: 0;
}
.previewbox.design p {
    margin: 0;
}


#preview-textbox {
  padding: 20px 0;
  font-size: 14px;
}



/******** Override custom.css and other original CSS ********/

/* show tribute field by default */
.tribute {
  display: block;
}
/*.ecard-radio-group img {
  width: 85%;
}*/
.ecard-radio-group label {
  display: inline;
  cursor: pointer;
}
.ecard-radio-group input {
    display: none;
}
img.ecard-thumbnail {
  border-radius: 7px;
  max-width: 80%;
  border: 4px solid #ffffff;
}
img.ecard-thumbnail.active {
    border: 4px solid #ed1c24;
}

div.card-select label {
  width: 100%;
}



footer {
  clear: both;
}

/*************************************************************
                     Tribute Form and Custom Media Query 
*************************************************************/

@media screen and (max-width: 991px) {
  .topbanner p {
    width: 70%;
  }

  /* eCard Preview Pane */
  .ecard-preview {
    width: 100%;
    float: none; 
  }
  .previewbox {
    width: 100%;
  }
  .previewbox.preview {
    display: none;
  }


  .previewbox.design {
    height: 114px
  }
  .ecards-designs {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .ecards-designs img {
    width: 90px;
  }
  .ecards-designs img.even {
    margin-right: 2px;
  }
  /*.previewbox.design p {
    float: right;
  }
*/


}



@media screen and (max-width: 767px) {

/* Header Section */
  .topbanner {
    background: #ffffff url("../images/love_tribute_banner_sm.jpg") no-repeat center top;
    background-size: auto 100%;
    height: 320px;
    overflow: hidden;
    text-align: center;
    vertical-align: bottom;
  }
  .topbanner h1 {
    float: none;
    font-size: 30px;
    margin: 0 auto 10px;
    margin-top: 160px;
    width: 100%;
  }
  .topbanner p {
    clear: both;
    float: none;
    font-size: 16px;
    margin: auto;
    width: 95%;
  }
  .toptitle {
    padding: 20px 0;
  }
  .toptitle h1 {
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }





/* eCard Preview Pane */
  .previewbox.design {
    height: auto;
  }

  .ecards-designs {
    display: block;
    float: none;
    height: auto;
    margin-bottom: 10px;
    margin-right: 0;
    text-align: center;
    width: 100%;
  }
  .ecards-designs img {
    float: none;
    width: 22.5%;
    margin-right: 0;
  }
  .previewbox.design p {
    text-align: center;
    font-size: 14px;
  }


  /* Form custom and override */
  .col-sm-4.col-sm-3 {
    display: inline-block;
    margin-bottom: 10px;
  }
}








